# Python Sets and Set Methods

## What is a Set?
A **set** in Python is an **unordered**, **mutable**, and **unique** collection of elements. It does not allow duplicate values.

### Creating a Set:
```python
# Empty set (must use set(), not {})
empty_set = set()

# Set with elements
numbers = {1, 2, 3, 4, 5}

# Mixed data types
mixed_set = {1, "Hello", 3.14, True}

# Creating a set from a list
unique_numbers = set([1, 2, 2, 3, 4, 4, 5])
print(unique_numbers)  # {1, 2, 3, 4, 5}
```

## Common Set Methods

| Method | Description | Example |
|--------|------------|---------|
| `add(x)` | Adds an element `x` to the set. | `my_set.add(10)` |
| `update(iterable)` | Adds multiple elements from an iterable. | `my_set.update([6, 7, 8])` |
| `remove(x)` | Removes `x` from the set (raises an error if not found). | `my_set.remove(3)` |
| `discard(x)` | Removes `x` from the set (does not raise an error if not found). | `my_set.discard(3)` |
| `pop()` | Removes and returns a random element. | `my_set.pop()` |
| `clear()` | Removes all elements from the set. | `my_set.clear()` |
| `copy()` | Returns a shallow copy of the set. | `new_set = my_set.copy()` |

## Set Operations

| Operation | Description | Example |
|-----------|------------|---------|
| `union(set2)` | Returns a new set with all unique elements from both sets. | `set1.union(set2)` |
| `intersection(set2)` | Returns a set with elements common to both sets. | `set1.intersection(set2)` |
| `difference(set2)` | Returns a set with elements in `set1` but not in `set2`. | `set1.difference(set2)` |
| `symmetric_difference(set2)` | Returns a set with elements in either `set1` or `set2`, but not both. | `set1.symmetric_difference(set2)` |
| `issubset(set2)` | Returns `True` if `set1` is a subset of `set2`. | `set1.issubset(set2)` |
| `issuperset(set2)` | Returns `True` if `set1` is a superset of `set2`. | `set1.issuperset(set2)` |

## Example Usage:
```python
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Union
print(set1 | set2)  # {1, 2, 3, 4, 5, 6}

# Intersection
print(set1 & set2)  # {3, 4}

# Difference
print(set1 - set2)  # {1, 2}

# Symmetric Difference
print(set1 ^ set2)  # {1, 2, 5, 6}
```

## Key Properties of Sets:
- **Unordered**: No indexing or slicing.
- **Unique Elements**: Duplicates are automatically removed.
- **Mutable**: You can add or remove elements.


empty set

In [5]:
s = set()

In [6]:
s

set()

In [7]:
type(s)

set

In [9]:
s1 = {4,5,6,7,4,8}

here duplicate values are gonna registered only once

In [45]:
s1

set()

all matters in set is that value exist inside that set , it only registers distinct inserted values inside set

there is no order or index storing system

we can also convert a list data into set data to view all distinct values of that list in a new set

In [12]:
l = [55,3,4,6,5,4,3]

In [15]:
s2 = set(l)

or

In [16]:
set(l)

{3, 4, 5, 6, 55}

we can also add elements in our set using add

In [17]:
s1.add(34)

In [18]:
s1

{4, 5, 6, 7, 8, 34}

we can also add multiple elements in or set at once using update

In [20]:
s1.update([200,300,21])

In [21]:
s1

{4, 5, 6, 7, 8, 21, 34, 200, 300}

make sure to create a list of multiple value which you want to update in your set,if value already exist in set it will not be registered

remove and discard

remove shows error if element doesnot exist, if exist it removes

In [22]:
s1.remove(25)

KeyError: 25

discard does not show any error if does not exist if exist it removes

In [26]:
s1.discard(25)

In [28]:
s1.pop()

4

pop removes and returns a random element of set

In [30]:
s1.clear()

it clears the entire set

In [31]:
s1

set()

now our set is empty

we can also create a copy of set as well

In [35]:
new_set = s2.copy()

In [36]:
new_set

{3, 4, 5, 6, 55}

union

lets create two sets and union them

In [37]:
a = {3,4,5,6}
b = {5,6,7,8}

In [38]:
a.union(b)

{3, 4, 5, 6, 7, 8}

adds the two set togeter ofcourse there will be no duplicates

lets try intersection

In [40]:
a.intersection(b)

{5, 6}

this only return common values from both sets

In [41]:
a.symmetric_difference(b)

{3, 4, 7, 8}

this gives symmetric amount of elements from both sets

lets learn about issubset(set2) and issuperset(set2)

In [42]:
sub ={3,4}

In [43]:
sub.issubset(a)

True

since sub is subset of a it returns true if not it will return false

In [44]:
a.issuperset(sub)

True

since a is superset of sub it retuns true and if not it will return false

difference

In [46]:
a - b

{3, 4}

union

In [47]:
a | b

{3, 4, 5, 6, 7, 8}

In [48]:
a & b

{5, 6}

these are the short cuts of using union intersection and difference can we to add as well lets try

In [49]:
a + b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

no it doesnot work like that in set it works in lists only